@import '../style';

@mixin node-control($background-color, $content-color:color('white')) {
  circle {
    fill: $background-color !important;
    stroke: transparent;
  }
  text {
    stroke: $content-color !important;
    fill: $content-color !important;
  }

  &:hover {
    circle {
      fill: darken($background-color, 10%) !important;
    }
    text {
      stroke: darken($content-color, 10%) !important;
      fill: darken($content-color, 10%) !important;
    }
  }
}

#AddNodeControl {
  @include node-control(color(pink));
}

#VoteupNodeControl {
  @include node-control(color(cyan));
}

.GraphView {
  width: 65%;
}

.Panel {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  max-width: 420px;
  width: 35%;
}
