.NodeInspector {
  flex-grow: 1;
  position: relative;
  width: 100%;

  & > * {
    position: absolute;
    top: 0; right: 0; bottom: 0;
    width: 100%;
    box-shadow: none !important;
  }
}

.NodeInspectorMedia {
  padding-bottom: 50%;
}
