.NodeInspector {
  flex-grow: 1;
  position: relative;
  width: 100%;

  & > * {
    position: absolute;
    top: 0; right: 0; bottom: 0;
    width: 100%;
    box-shadow: none !important;
  }
}

.NodeInspectorImage {

  position: relative;

  cursor: pointer;

  &:hover {
    .NodeInspectorImageSelectButton {
      opacity: 1;
    }
  }
}

.NodeInspectorImageContent {
  position: relative;
  padding-bottom: 50%;

  img {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
  }
}


.NodeInspectorImageSelectButton {
  display:flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0
}

.NodeInspectorImageSelectButtonInner {

  background-color: white;
  border-radius: 100%;
  padding: 12px;

  display:flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: #2196f3;
    color: white;
  }
}

.NodeInspectorImageSelectButtonIcon {

}

.NodeInspectorAudio {
  margin: 12px 0px;
}

.NodeInspectorAudioTitle {

}

.NodeInspectorAudioContent {

}

.NodeInspectorAudioActions {

}
