#root {
    position: absolute;
    top: 0; bottom: 0; right: 0; left: 0;
}

$colors : (
  'pink' : #E91E63,
  'cyan' : #00BCD4,
  'white' : #fff
);

.hoykeys-tooltip {
  position: absolute;
  top: 20px;
  right: 20px;

  max-width: 360px;
}

.node-inspector {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.node.accepted {

}

#add-node-control, #voteup-node-control {
  circle {
    stroke: transparent;
  }

  text {
    stroke: transparent;
  }
}

@each $name, $hex in $colors {
  .#{$name} {
    fill: $hex;
  }

  .#{$name}.hover:hover {
    fill: darken($hex, 10%);
  }
}
