extends layout

block styles
  link(rel='stylesheet', href='/storybuilder.bundle.css')
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:300,400,500")
    
block scripts
  script(src='/storybuilder.bundle.js')
  
block content
  #root
