extends layout

block styles
  link(rel='stylesheet', href='/storybuilder.bundle.css')
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:300,400,500")
  link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")

block scripts
  script(src='/storybuilder.bundle.js')

block content
  #root
