/**
 * General app styles
 */

* {
  box-sizing: border-box;
}

$colors : (
  'pink' : #E91E63,
  'cyan' : #00BCD4,
  'white' : #fff
);

@function color($name) {
  @return map-get($colors, inspect($name));
}

@each $name, $hex in $colors {
  .#{$name} {
    fill: $hex;
  }

  .#{$name}.hover:hover {
    fill: darken($hex, 10%);
  }
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
